* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

p {
  font-size: 15px;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkGray: hsl(0, 0%, 55%);
  --veryDarkGray: hsl(0, 0%, 41%);
  --transparent: hsl(0deg 0% 0% / 33%);
}

@media screen and (max-width: 599px) {
  body {
    text-align: center;
    position: relative;
  }
  #banner {
    background-image: url("../img/mobile/image-hero.jpg");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 6em;
  }
  #banner header {
    padding: 2em 1em;
    height: 150px;
  }
  #banner header .grid-container {
    grid-template-columns: 90% 10%;
  }
  #banner #main-menu {
    display: none;
  }
  #banner .open {
    margin-left: 0 !important;
  }
  #banner #hamburger {
    display: block;
  }
  #banner #mobile-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black);
    height: 100vh;
    width: 100vw;
    margin-left: 100vw;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  #banner #mobile-logo {
    grid-row: 1;
    width: 60%;
    margin-top: 2em;
    margin-left: 2em;
  }
  #banner #close-button {
    grid-column: 3;
    width: 24px;
    height: 24px;
    margin-top: 2em;
    margin-right: 2em;
  }
  #banner ul {
    margin-top: 200px;
    margin-left: 50px;
  }
  #banner li {
    padding-bottom: 1.8em;
  }
  #banner a {
    color: var(--white);
    font-size: 1.7rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
  }
  #banner #logo {
    width: 50%;
  }
  #banner #hamburger {
    width: 30px;
    height: auto;
  }
  #banner .keyline-box {
    margin-top: 16vh;
  }
  #studio-bio {
    margin-bottom: 6em;
  }
  #studio-bio img {
    margin-bottom: 2em;
  }
  #studio-bio .content {
    padding: 0 2.2em;
    text-align: center;
  }
  #studio-bio .content h2 {
    font-size: 2rem;
    color: var(--veryDarkGray);
  }
  #studio-bio .content p {
    margin-top: 1.4em;
    color: var(--darkGray);
  }
  #portfolio {
    display: grid;
    gap: 1em;
  }
  #portfolio h2 {
    font-size: 2.1rem;
    margin-bottom: 1em;
  }
  #portfolio button {
    grid-row: 4;
    margin-bottom: 4em;
  }
  #portfolio ul {
    display: grid;
    gap: 1em;
  }
  #portfolio .card {
    border: 1px solid grey;
    height: 150px;
    padding-top: 4em;
    padding-left: 1em;
  }
  #portfolio .card p {
    color: var(--white);
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.8rem;
    line-height: 1.8rem;
    text-align: left;
    text-transform: uppercase;
    width: 40%;
  }
  #portfolio #deep-earth {
    background-image: url("../img/mobile/image-deep-earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #portfolio #night-arcade {
    background-image: url("../img/mobile/image-night-arcade.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #portfolio #soccer-team {
    background-image: url("../img/mobile/image-soccer-team.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #portfolio #the-grid {
    background-image: url("../img/mobile/image-grid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #portfolio #from-above {
    background-image: url("../img/mobile/image-from-above.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #portfolio #pocket-borialis {
    background-image: url("../img/mobile/image-pocket-borealis.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #portfolio #the-curiosity {
    background-image: url("../img/mobile/image-curiosity.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #portfolio #make-fisheye {
    background-image: url("../img/mobile/image-fisheye.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  footer {
    padding-top: 4em;
    padding-bottom: 2em;
  }
  footer section img {
    width: 150px;
    margin-bottom: 2em;
  }
  footer section nav li {
    margin-bottom: 2em;
  }
  footer section nav a {
    text-decoration: none;
  }
}
@media screen and (min-width: 600px) {
  #mobile-menu,
#hamburger {
    display: none;
  }
  #banner {
    background-image: url("../img/desktop/image-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    color: var(--white);
    padding: 4em 2em;
    margin-bottom: 100px;
  }
  #banner header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2em;
  }
  #banner header #main-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 2em;
  }
  #banner header #main-menu ul li a {
    color: var(--white);
    font-family: "Alata", sans-serif;
    text-decoration: none;
  }
  #banner header h1 {
    color: var(--white);
  }
  #banner header #logo {
    width: 130px;
  }
  #banner .keyline-box {
    width: 58%;
    margin-top: 40vh;
    padding: 3em;
  }
  #banner .keyline-box h1 {
    font-size: 2.7rem;
  }
  section#studio-bio {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 100px;
  }
  section#studio-bio img {
    grid-column: 1/4;
    grid-row: 2/1;
  }
  section#studio-bio .content {
    background-color: var(--white);
    padding: 3em;
    grid-column: 3/-1;
    grid-row: 2/1;
    margin-top: 100px;
  }
  section#portfolio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 100px;
  }
  section#portfolio h2 {
    grid-column: 1/4;
    font-size: 2rem;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  section#portfolio ul {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
  }
  section#portfolio #deep-earth {
    background-image: url(../img/desktop/image-deep-earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  section#portfolio #night-arcade {
    background-image: url(../img/desktop/image-night-arcade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  section#portfolio #soccer-team {
    background-image: url(../img/desktop/image-soccer-team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  section#portfolio #the-grid {
    background-image: url(../img/desktop/image-grid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  section#portfolio #from-above {
    background-image: url(../img/desktop/image-from-above.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  section#portfolio #pocket-borialis {
    background-image: url(../img/desktop/image-pocket-borealis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  section#portfolio #the-curiosity {
    background-image: url(../img/desktop/image-curiosity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  section#portfolio #make-fisheye {
    background-image: url(../img/desktop/image-fisheye.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  section#portfolio footer section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  section#portfolio footer img#footer-logo {
    width: 130px;
  }
}
html,
body {
  background-color: var(--white);
  color: var(--veryDarkGray);
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--veryDarkGray);
}

h1 {
  font-size: 2.45rem;
}

p {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
}

section {
  padding: 0 1em;
}

.keyline-box {
  border: 2px solid var(--white);
  padding: 2em;
  text-align: left;
}
.keyline-box h1 {
  color: var(--white);
}

.grid-container {
  display: grid;
}

.card:hover {
  opacity: 0.75;
}

button.btn {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  letter-spacing: 0.25em;
  border: 1px solid var(--black);
  border-radius: 0;
  background-color: var(--white);
  padding: 1em 2em;
  width: 150px;
  margin: auto;
  text-transform: uppercase;
}

footer {
  background-color: var(--black);
  color: var(--white);
  font-family: "Alata", sans-serif;
  font-weight: 400;
}
footer nav a {
  color: var(--white);
}
footer ul.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  width: 200px;
  margin: auto;
}
footer ul.social li a img {
  width: 24px;
  height: auto;
}
footer .copyright {
  color: var(--darkGray);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--darkGray);
  padding: 1em 0;
}

.attribution a {
  color: var(--darkGray);
  text-decoration: underline;
}