* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

p {
  font-size: 15px;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkGray: hsl(0, 0%, 55%);
  --veryDarkGray: hsl(0, 0%, 41%);
  --transparent: hsl(0deg 0% 0% / 33%);
}

@media screen and (max-width: 599px) {
  body {
    text-align: center;
  }
  section#banner {
    background-image: url("../img/mobile/image-hero.jpg");
    background-size: cover;
    height: 100vh;
    margin-bottom: 6em;
  }
  section#banner header {
    padding: 2em 1em;
  }
  section#banner header .grid-container {
    grid-template-columns: 90% 10%;
  }
  section#banner #main-menu {
    display: none;
  }
  section#banner #mobile-menu {
    display: none;
  }
  section#banner #mobile-menu .open {
    background-color: var(--black);
    height: 100vh;
  }
  section#banner #mobile-menu .open ul {
    margin-top: 200px;
    margin-left: 50px;
  }
  section#banner #mobile-menu .open li {
    padding-bottom: 1.8em;
  }
  section#banner #mobile-menu .open a {
    color: var(--white);
    font-size: 1.7rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
  }
  section#banner #logo {
    width: 50%;
  }
  section#banner #hamburger {
    width: 30px;
    height: auto;
  }
  section#banner .keyline-box {
    margin-top: 16vh;
  }
  #studio-bio {
    margin-bottom: 6em;
  }
  #studio-bio img {
    margin-bottom: 2em;
  }
  #studio-bio .content {
    padding: 0 2.2em;
    text-align: center;
  }
  #studio-bio .content h2 {
    font-size: 2rem;
    color: var(--veryDarkGray);
  }
  #studio-bio .content p {
    margin-top: 1.4em;
    color: var(--darkGray);
  }
  #portfolio {
    display: grid;
    gap: 1em;
  }
  #portfolio h2 {
    font-size: 2.1rem;
    margin-bottom: 1em;
  }
  #portfolio button {
    grid-row: 4;
    margin-bottom: 4em;
  }
  #portfolio ul {
    display: grid;
    gap: 1em;
  }
  #portfolio .card {
    border: 1px solid grey;
    height: 150px;
    padding-top: 4em;
    padding-left: 1em;
  }
  #portfolio .card p {
    color: var(--white);
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.8rem;
    line-height: 1.8rem;
    text-align: left;
    text-transform: uppercase;
    width: 40%;
  }
  #portfolio #deep-earth {
    background-image: url("../img/mobile/image-deep-earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #portfolio #night-arcade {
    background-image: url("../img/mobile/image-night-arcade.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #portfolio #soccer-team {
    background-image: url("../img/mobile/image-soccer-team.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #portfolio #the-grid {
    background-image: url("../img/mobile/image-grid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #portfolio #from-above {
    background-image: url("../img/mobile/image-from-above.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #portfolio #pocket-borialis {
    background-image: url("../img/mobile/image-pocket-borealis.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #portfolio #the-curiosity {
    background-image: url("../img/mobile/image-curiosity.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #portfolio #make-fisheye {
    background-image: url("../img/mobile/image-fisheye.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  footer {
    padding-top: 4em;
    padding-bottom: 2em;
  }
  footer section img {
    width: 150px;
    margin-bottom: 2em;
  }
  footer section nav li {
    margin-bottom: 2em;
  }
  footer section nav a {
    text-decoration: none;
  }
}
html,
body {
  background-color: var(--white);
  color: var(--veryDarkGray);
}

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--veryDarkGray);
}

h1 {
  font-size: 2.45rem;
}

p {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
}

section {
  padding: 0 1em;
}

.keyline-box {
  border: 2px solid var(--white);
  padding: 2em;
  text-align: left;
}

.grid-container {
  display: grid;
}

#banner {
  color: var(--white);
}
#banner h1 {
  color: var(--white);
}

.card:hover {
  opacity: 0.75;
}

button.btn {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  letter-spacing: 0.25em;
  border: 1px solid var(--black);
  border-radius: 0;
  background-color: var(--white);
  padding: 1em 2em;
  width: 150px;
  margin: auto;
  text-transform: uppercase;
}

footer {
  background-color: var(--black);
  color: var(--white);
  font-family: "Alata", sans-serif;
  font-weight: 400;
}
footer nav a {
  color: var(--white);
}
footer ul.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  width: 200px;
  margin: auto;
}
footer ul.social li a img {
  width: 24px;
  height: auto;
}
footer .copyright {
  color: var(--darkGray);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--darkGray);
}

.attribution a {
  color: var(--darkGray);
  text-decoration: underline;
}